:doc
  @name ClassBlockTitle
  @prop {string} title

import './index.ess'

:js
  var title = props.title

span= title

:module
  export function componentDidMount() {
    this.viewedTitleEvent();
  }

  export function viewedTitleEvent() {
    console.log('you saw the title!');
  }